	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>网站台账新功能上线通知</title>
			<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<meta name="apple-mobile-web-app-status-bar-style" content="black" />
			<meta name="format-detection" content="telphone=no, email=no" />
			<link rel="stylesheet" href="../../css/init.css" />
			<link rel="stylesheet" href="../../css/CommonSubpage.css" />
			<script type="text/javascript" src="../../js/rem.js" ></script>	
			<script type="text/javascript" src="../../js/zepto.min.js" ></script>
			<script type="text/javascript" src="../../resource/iconfont/iconfont.js" ></script>
			<style type="text/css">
				.icon {
				   width: 0.5rem; height: 0.5rem;
				   vertical-align: 0.1rem;
				   fill: currentColor;
				   overflow: hidden;
				   color: #FFFFFF;
				}
			</style>
		</head>
		<body>
			<header class="clear">
				 重要公告
				<div class="fl">
					<svg class="icon fl" aria-hidden="true">
				  		<use xlink:href="#icon-fanhui"></use>
					</svg>
				</div>
			</header>
			<section class="cont_wrap">
				<h2>网站台账新功能上线通知</h2>
				<p class="clear">
					<span>
						<svg class="icon fl" aria-hidden="true">
				  			<use xlink:href="#icon-five-star-flag-copy"></use>
						</svg>
					</span>
					&nbsp;标识管理中心&nbsp;01-16 07:53
				</p>
				<section class="cont_box">
					<img src="../../img/resourceImg/list1.jpg" alt="新闻图片"/>
					<p>
						<span class="fr">文|重要公告</span>
					</p>
					<article class="text">
						近期我中心在网站台账中整合ICP备案数据、国办普查数据和“.cn”域名注册数据，形成了全国党政机关、事业单位网站标识管理数据库。各级编办可在网站台账中全面了解辖区内党政机关、事业单位的网站开办情况、网站挂标情况以及网站规范管理情况。<br />
					　　为进一步核对全国网站开办情况，摸清网站开办数据，确保网站台账数据的动态性和真实性，请各级编办尽快对辖区内单位网站进行信息确认工作。<br />
					　　相关操作请下载查看《网站台账功能使用说明书4.0》或访问全国党政机关事业单位互联网站标识管理服务平台（biaozhi.conac.cn）。<br />
					　　点击下载《网站台账功能使用说明书4.0》<br />
					　　如有其它疑问或建议，请发邮件至service@conac.cn。<br />
					</article>
					<p></p>
				</section>
			</section>
		</body>
		<script>
			$(function(){
				$("header div").tap(function(){
					history.back();
				})
			})
		</script>
	</html>
