	<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<title>党政机关、事业单位网站挂标流程视频</title>
			<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
			<meta name="apple-mobile-web-app-capable" content="yes" />
			<meta name="apple-mobile-web-app-status-bar-style" content="black" />
			<meta name="format-detection" content="telphone=no, email=no" />
			<link rel="stylesheet" href="../../css/init.css" />
			<link rel="stylesheet" href="../../css/CommonSubpage.css" />
			<script type="text/javascript" src="../../js/rem.js" ></script>	
			<script type="text/javascript" src="../../js/zepto.min.js" ></script>
			<script type="text/javascript" src="../../resource/iconfont/iconfont.js" ></script>
			<style type="text/css">
				.icon {
				   width: 0.5rem; height: 0.5rem;
				   vertical-align: 0.1rem;
				   fill: currentColor;
				   overflow: hidden;
				   color: #FFFFFF;
				}
			</style>
		</head>
		<body>
			<header class="clear">
				 重要公告
				<div class="fl">
					<svg class="icon fl" aria-hidden="true">
				  		<use xlink:href="#icon-fanhui"></use>
					</svg>
				</div>
			</header>
			<section class="cont_wrap">
				<h2>党政机关、事业单位网站挂标流程视频</h2>
				<p class="clear">
					<span>
						<svg class="icon fl" aria-hidden="true">
				  			<use xlink:href="#icon-five-star-flag-copy"></use>
						</svg>
					</span>
					&nbsp;标识管理中心&nbsp;01-16 07:53
				</p>
				<section class="cont_box">
					<!--<img src="../../../img/resourceImg/list2.jpg" alt="新闻图片"/>-->
					<video id="video" poster="/r/cms/7b/be/05/f0/90/12/ff/07/xn--iwvy0y45fl4r.xn--55qw42g/bzgl/img/oceans-clip.png" autoplay="autoplay" preload="none" controls="controls">
						<source src="/r/cms/7b/be/05/f0/90/12/ff/07/xn--iwvy0y45fl4r.xn--55qw42g/bzgl/img/康宝系列动画教程：机关单位网站如何申请挂标.mp4" type="video/mp4"/ />
					</video>
					<p>
						<span class="fr">文|重要公告</span>
					</p>
				</section>
			</section>
		</body>
		<script>
			$(function(){
				$("header div").tap(function(){
					history.back();
				})
			})
		</script>
	</html>
